@mixin row() {
  margin: {
    left: -16px;
    right: -16px;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
.row {
  @include row();
}

$grids: (
  gutter: 16px,
);

@mixin colPx($num: 1) {
  $grids: () !default;
  $defaults: (
    columns: 12,
    gutter: 16px,
  );
  $grids: map-merge($defaults, $grids);
  // merge完結果
  // $grids:(
  // columns:12,
  // gutter: 16px,
  // )
  $column: map-get($grids, columns); //12
  $col: (100% / $column); //100% / 12
  $gutter: map-get($grids, gutter); //16px
  width: calc(#{$col * $num});
  float: left;
  padding-left: $gutter;
  padding-right: $gutter;
}
@for $index from 1 through 12 {
  .col-#{$index} {
    @include colPx($index);
    border: 1px solid blue;
  }
}
