* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  // position: relative;
}
html,
body {
  font-family: "微軟正黑體", arial;
}
a {
  text-decoration: none;
  color: #333;
}

.container {
  border: 1px solid red;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}
